<div class="game-card">

    <div>Played at: 05/20/2024</div>

    <mat-list>
        
        <mat-list-item>
            <div matListItemIcon>1</div>
            <div matListItemTitle>Chichiro Equipment</div>
            <div matListItemLine>765</div>
        </mat-list-item>

        <mat-list-item>
            <div matListItemIcon>2</div>
            <div matListItemTitle>Inkling Tokens</div>
            <div matListItemLine>833</div>
        </mat-list-item>

        <mat-list-item>
            <div matListItemIcon>2</div>
            <div matListItemTitle>Satoru & Gyruda</div>
            <div matListItemLine>984</div>
        </mat-list-item>

        <mat-list-item>
            <div matListItemIcon>2</div>
            <div matListItemTitle>Felix-Five Boots</div>
            <div matListItemLine>947</div>
        </mat-list-item>

        <mat-list-item>
            <div matListItemIcon>2</div>
            <div matListItemTitle>Dino Tribal</div>
            <div matListItemLine>962</div>
        </mat-list-item>

    </mat-list>

</div>
